[Unit]
Description=DVRLite

[Service]
Type=simple
ExecStart=/usr/local/bin/DVRLite /var/DVRLite/config.json /usr/local/share/DVRLite/web/

Restart=on-failure


[Install]
WantedBy=multi-user.target