[Unit]
Description=DVRLite

[Service]
Type=simple
ExecStart=/usr/local/bin/DVRLite
WorkingDirectory=/usr/local/share/DVRLite

Restart=on-failure


[Install]
WantedBy=multi-user.target