body {background-color: DimGray;}
h1
{
	font-size: 18pt;
	text-shadow: 1px 1px black;
	color: Aquamarine;
}
h2
{
	margin:4pt;
	font-size: 14pt;
	text-shadow: 1px 1px black;
	color: Aquamarine;
	flex:2;
}

a{color:BurlyWood;}
a:visited{color:DarkSalmon;}
hr{border-top: 3px solid DarkSlateGrey;}

.header
{
	width: 100%;
	display: flex;
}

.headermenu
{
	width: 10%;
	display: flex;
	align-self:center;
}

.headermenuitem
{
	flex:2;
}

.sourcetable
{
	width:100%;
	background-color:black;
}

.sourcerecord, .sourceheaderrecord
{
	font-size:14pt;
	color:tomato;
	background-color: DarkSlateGrey;
}
.sourcerecord:hover
{
	background-color: lightgrey;
}

.vis-item .vis-item-overflow {
  overflow: visible;
}

.slidertext
{
	color:tomato;
	background-color:DarkSlateGrey;
	border: 1px solid;
	padding: 1px;
	margin-left:2px;
}

.slider
{
	appearance: none;
	width:40%;
	height:25px;
	background: Aquamarine;
	opacity: 0.7;
	transition: opacity .2s;
	border: 1px solid DarkSalmon;
}
.slider:hover {
  opacity: 1;
}