body {background-color: #bg#;}
h1
{
	font-size: 18pt;
	text-shadow: 1px 1px black;
	color: #text#;
}
h2
{
	margin:4pt;
	font-size: 14pt;
	text-shadow: 1px 1px black;
	color: #text#;
	flex:2;
}

a{color:#dropdown#;}
a:visited{color:#highlight#;}
hr{border-top: 3px solid #cellbg#;}

.header
{
	width: 100%;
	display: flex;
}

.headermenu
{
	width: 180px;
	display: flex;
	align-self:center;
}

.headerdropdown
{
	background:transparent;
	color:#dropdown#;
	border-style:solid;
	border-color:#cellbg#;
	appearance: none;
	height: 24px;
}

.headerdropdownitem
{
	background-color:#cellbg#;
	color:#dropdown#;
}

.headermenuitem
{
	flex:auto;
}

.sourcetable
{
	width:100%;
	background-color:#tablebg#;
}

.sourcerecord, .sourceheaderrecord
{
	font-size:14pt;
	color:#tabletext#;
	background-color: #cellbg#;
}

.configtable
{
	max-width:600px;
}

.sourcerecord:hover
{
	background-color: #tablehover#;
}

.vis-item .vis-item-overflow {
  overflow: visible;
}

.slidertext
{
	color:#tabletext#;
	background-color:#cellbg#;
	border: 1px solid;
	padding: 1px;
	margin-left:2px;
}

.slider
{
	appearance: none;
	width:40%;
	height:25px;
	background: #text#;
	opacity: 0.7;
	transition: opacity .2s;
	border: 1px solid #highlight#;
}
.slider:hover {
  opacity: 1;
}
.datepicker
{
	margin-left:6px;
	margin-right:24px;
}

.data
{
	padding:2px 5px;
	overflow: auto;
	width:auto;
	height:auto;
	border:1px;
	border-style:solid;
	border-radius:4px;
	margin:2px 5px;
	font-size:12pt;
	color:#tabletext#;
	background-color: #bg#;
}

.log
{
	padding:10px;
	overflow: auto;
	width:auto;
	height:750px;
	font-size:14pt;
	color:#tabletext#;
	background-color: #cellbg#;
}

.playback
{
	width:800px;
	height:600px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}